name: Build Linux binary

permissions:
  contents: write

on:
  push:
    tags:
      - "*_linux"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install GHCup
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://www.haskell.org/ghcup/sh/bootstrap-haskell | BOOTSTRAP_HASKELL_NONINTERACTIVE=1 sh

      - name: Add GHC to PATH
        run: echo "$HOME/.ghcup/bin" >> $GITHUB_PATH

      - name: Compile rnxde
        run: |
          ghc -O2 RnxDe.hs -o rnxde
          rm -f *.hi *.o

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: rnxde
