name: Build Windows EXE

permissions:
  contents: write

on:
  push:
    tags:
      - "*_win"
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install GHCup
        run: |
          Set-ExecutionPolicy Bypass -Scope Process -Force
          irm https://www.haskell.org/ghcup/sh/bootstrap-haskell.ps1 | iex

      - name: Add GHC to PATH
        run: |
          echo "$env:USERPROFILE\AppData\Roaming\ghcup\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Compile rnxde
        run: |
          ghc -O2 RnxDe.hs -o rnxde.exe
          del *.hi, *.o

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: rnxde.exe



